@using ContactListMvc.Controllers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ContactListMvc.Controllers.ContactsListViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <title>app</title>
    <meta charset="utf-8"/>
    <style>
        .contact-list {
            list-style: none;
            li {
                display: flex;
                span {
                    padding: 0.2rem 1rem;
                }
                svg {
                    width: 24px;
                    cursor: pointer;
                }
            }
        }

        form {
            div {
                padding: 0.4rem 1rem;
            }
        }
    </style>
</head>
<body>

<h2>Contact list</h2>

<ul class="contact-list">
    @foreach (Contact contact in Model.Contacts)
    {
        <li>
            <span>@contact.Name</span>
            <span>@contact.Email</span>
            <span>
                <form method="post" action="/contacts/delete">
                    <button type="submit">
                        <input type="hidden" name="id" value="@contact.Id"/>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-trash">
                            <polyline points="3 6 5 6 21 6"></polyline>
                            <path d="M19 6l-2 14H7L5 6"></path>
                            <path d="M10 11v6"></path>
                            <path d="M14 11v6"></path>
                            <path d="M9 6V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v2"></path>
                        </svg>
                    </button>
                </form>
            </span>
        </li>
    }
</ul>

@if (Model.Errors.Any())
{
    <div>
        @foreach (string error in Model.Errors)
        {
            <span>@error</span>
            <br/>
        }
    </div>
}

<form method="POST" action="/contacts/add">
    <div>
        <label>Name</label>
        <input type="text" name="Name" value="@Model.Form.Name" placeholder="Name"/>
    </div>

    <div>
        <label>Email</label>
        <input type="email" name="Email" value="@Model.Form.Email" placeholder="Email"/>
    </div>

    <button type="submit">Submit</button>
</form>

</body>
</html>
